{% extends "core/base-newdesign.html" %}
{% load staticfiles %}
{% block Meta %}
    {% for s in seo %}
        <title>{{ s.title }}</title>
        <meta name="keywords" content="{{ s.keywords }}"/>
        <meta name="description" content="{{ s.description }}"/>
    {% endfor %}
{% endblock %}
{% block OpenGraph %}
    {% for s in seo %}
    <meta property="og:title" content="{{ s.title }}"/>
	<meta property="og:description" content="{{ s.description }}"/>
    {% endfor %}
    {% for condition in conditions %}
	<meta property="og:image" content="https://vekokat.ru{{ condition.image.url }}"/>
    {% endfor %}
	<meta property="og:type" content="website"/>
	<meta property="og:url" content= "https://vekokat.ru/conditions/" />
{% endblock %}
{% block LinkAmp %}
     <link rel="amphtml" href="https://vekokat.ru/conditions/">
{% endblock %}
{% block Content %}

    <!-- CONDITIONS-PAGE -->

    <div class="content-container conditions" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article">
    {% for condition in conditions %}
        <meta itemprop="image" content="https://vekokat.ru{{ condition.image.url }}">
        <div class="conditions-banner" style="background: url({{ condition.image.url }}); background-size: cover;">
        </div>
        <div class="conditions-title">
            <h1 itemprop="headline name">ТРЕБОВАНИЯ И УСЛОВИЯ ПРИЕМА КАТАЛИЗАТОРОВ</h1>
        </div>
        <div itemprop="articleBody">
        <div class="conditions-text">
            {{ condition.text_part1|safe }}
        </div>
        <div class="conditions-text" >
            {{ condition.text_part2|safe }}
        </div>
        </div>
    {% endfor %}
    </div>
     <!-- WORKING METHODS BLOCK -->

    {% if debug_flag %}
        {% include 'core/dev/working-methods.html' %}
    {% else %}
        {% include 'core/prod/working-methods.html' %}
    {% endif %}

     <!-- MAIN FORM BLOCK -->
        <div class="mainform-title catol-title" id="form-container">
            <h2>Узнайте приблизительную стоимость вашего катализатора, заполнив форму</h2>
        </div>
        <div class="content-container conditions-form">
            {% if debug_flag %}
            {% include 'forms/dev/main-form.html' %}
            {% else %}
            {% include 'forms/prod/main-form.html' %}
            {% endif %}
        </div>
{% endblock %}
