{% load static %}
<div class="base-container">
      <div class="content-container">

      <!-- HEADER -->

          <header>
              <div class="header-logo-container">
                  <a href="/amp/"><amp-img layout="responsive" width="100" height="86" src="{% static 'core/images/newdesign/vekokat-new-logo-100.png' %}"></amp-img></a>
              </div>
              <div class="header-txt-ph-align-wr">
                  <div class="header-text-container">
                      <h2>скупка и переработка отработанных </br>автомобильных катализаторов</h2>
                  </div>
                  <div class="header-phones-container">
                      <div class="header-phone-icon">
                          <amp-img layout="responsive" width="100" height="100" src="{% static 'core/images/newdesign/phon-icon-100.png' %}"></amp-img>
                      </div>
                      <div class="header-phones">
                          <a href="tel:+79255533552"><p>8 (925) 553 35 52</p></a>
                          <a href="tel:+79268668689"><p>8 (926) 866 86 89</p></a>
                      </div>
                  </div>
              </div>
          </header>
      </div>

      <!-- MAIN MENU -->

      <div class="main-menu">
          <div class="main-menu-icons-container">
              <div class="menu-icons-wr">
                 <div class="main-menu-map-icon">
                     <a href="/amp/#map-container"><i class="fas fa-map-marked-alt"></i></a>
                 </div>
                 <div class="main-menu-mail-icon">
                     <a href="/amp/#form-container"><i class="fas fa-envelope-open-text"></i></a>
                 </div>
              </div>
          </div>
          <div class="main-menu-items-container" id="main-block">
              <div class="main-menu-item main-dropdown-hover"><a data-scroll href="/amp/#main-block">ГЛАВНАЯ</a>
              <div class="menu-dropdown main-dropdown">
                    <div class="dropdown-item"><a data-scroll href="/amp/#advantages-block">Преимущества</a></div>
                    <div class="dropdown-item"><a data-scroll href="/amp/#working-methods-block">Порядок работы</a></div>
                    <div class="dropdown-item"><a data-scroll href="/amp/#laboratory-block">Мобильная лаборатория</a></div>
                    <div class="dropdown-item"><a data-scroll href="/amp/#regions-block">Регионы</a></div>
                    <div class="dropdown-item"><a data-scroll href="/amp/#prices-block">Цены</a></div>
                    <div class="dropdown-item"><a data-scroll href="/amp/#about-block">О нас</a></div>
              </div>
              </div>
              <div class="main-menu-item priem-dropdown-hover">ПРИЕМ КАТАЛИЗАТОРОВ
                <div class="menu-dropdown priem-dropdown">
                    <div class="dropdown-item"><a href="/amp/catalizators/otechestvennye-katalizatory">Отечественные катализаторы</a></div>
                    <div class="dropdown-item"><a href="/amp/catalizators/importnye-katalizatory">Импортные катализаторы</a></div>
                    <div class="dropdown-item"><a href="/amp/catalizators/otechestvennye-metallicheskie-katalizatory">Отечественные металлические катализаторы</a></div>
                    <div class="dropdown-item"><a href="/amp/catalizators/importnye-metallicheskie-katalizatory">Импортные металлические катализаторы</a></div>
                    <div class="dropdown-item"><a href="/amp/catalizators/sazhevye-filtry">Сажевые фильтры</a></div>
                </div>
              </div>
              <div class="main-menu-item catalog-dropdown-hover"><a href="#">КАТАЛОГ</a>
                <div class="menu-dropdown catalog-dropdown">
                    <div class="dropdown-item"><a data-scroll href="/amp/catalog/otechestvennyj/">Отечественные катализаторы</a></div>
                    <div class="dropdown-item"><a data-scroll href="/amp/catalog/importnye/">Импортные катализаторы</a></div>
                </div>
              </div>
              <div class="main-menu-item"><a data-scroll href="/amp/conditions/">УСЛОВИЯ ПРИЕМА</a></div>
            <div class="main-menu-item"><a data-scroll href="/amp/#working-methods-block">ПОРЯДОК РАБОТ</a></div>
            <div class="main-menu-item"><a data-scroll href="/amp/#prices-block">ЦЕНЫ</a></div>
            <div class="main-menu-item"><a href="/amp/contacts/">КОНТАКТЫ</a></div>
            <div class="main-menu-item" id="modal-button"><a href="/amp/#form-container">ЗАКАЗАТЬ ЗВОНОК</a></div>
            <div class="main-menu-item"><a data-scroll href="/amp/#partners-block">ПАРТНЕРЫ</a></div>
          </div>
      </div>
    </div>