{% extends 'core/amp/new-base-amp.html' %}
{% load static %}
{% block Meta %}
    <title>{{ city.seotitle }}</title>
    <meta name="keywords" content="{{ city.seokeywords }}"/>
    <meta name="description" content="{{ city.seodescript }}"/>
{% endblock %}
{% block AMP-Cannonical-Link %}
    <link rel="canonical" href="https://vekokat.ru/priem-katalizatorov/{{ city.slug }}">
{% endblock %}
{% block AMP-Scripts %}
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
<script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>

{% endblock %}
{% block AMP-Content %}
    <div class="base-container" id="cities-container">
    <div class="city-gallery-wr" id="city-gallery">
        <amp-carousel width="1920"
                 height="500"
                 layout="responsive"
                 type="slides"
                 autoplay
                 delay="3000">
        {% if city.image_1 %}
            <amp-img class="customresponsive" alt="{{ city.city_name }}" height="{{ city.image_1.height}}" width="{{ city.image_1.width}}" src="{{ city.image_1.url }}"></amp-img>
        {% else %}
        {% endif %}
        {% if city.image_2 %}
            <amp-img class="customresponsive" alt="{{ city.city_name }}" height="{{ city.image_2.height}}" width="{{ city.image_2.width}}" src="{{ city.image_2.url }}"></amp-img>
        {% else %}
        {% endif %}
        {% if city.image_3 %}
            <amp-img class="customresponsive" alt="{{ city.city_name }}" height="{{ city.image_3.height}}" width="{{ city.image_3.width}}" src="{{ city.image_3.url }}"></amp-img>
        {% else %}
        {% endif %}
        </amp-carousel>
    </div>
    <div class="catol-title">
            <h2>{{ city.seotitle }}</h2>
    </div>
    <div class="content-container conditions-text">
        <p>Любой современный город, такой как, к примеру, город {{ city.city_name }} - это огромное количество людей, живущих и постоянно перемещающихся по своим важным делам. Многие из них используют для поездок собственные автомобили. Вот и в городе {{ city.city_name }} на каждую 1000 человек в среднем приходится 350-400 авто. В современных реалиях любая копейка, как говорится, не бывает лишней. А ведь большинство автомобилистов и не подозревают, что буквально рядом с ними есть возможность весьма неплохо заработать.</p>
        <p>Мы поговорим о приеме катализаторов в городе {{ city.city_name }}. Каталитический нейтрализатор , согласно нормам Евро, является  обязательной частью любого автомобиля. Он отвечает за преобразование вредных выбросов двигателя в относительно безопасные газы и воду. Автомобильный катализатор внутри имеет структуру, похожую на соты, покрытые редкими металлами-катализаторами, которые являются активаторами реакции преобразования выхлопов авто. Эти редкие металлы, такие как палладий, родий и платина и являются основной ценностью внутренностей катализатора. Вы можете сдать катализатор в городе {{ city.city_name }} в пункт приема, где есть все необходимое оборудование и персонал для получения ценных металлов. В качестве компенсации вы получаете приличное материальное вознаграждение.</p>
        <p>Стоимость приема отработанных катализаторов в городе {{ city.city_name }} зависит от нескольких факторов. Во первых, это страна-производитель. Как правило, импортные катализаторы отличаются более высоким содержанием редких металлов по сравнению с катализаторами отечественного производства. Поэтому сдать импортные катализаторы будет немного выгоднее. В любом случае, сдать катализатор и получить за него деньги — это лучше чем просто оставить его где-то в автосервисе или выкинуть на свалку.</p>
        <p>В зависимости от материала производства, автомобильные катализаторы бывают керамическими и металлическими. Первые дешевле, но более хрупки и чувствительны к механическим повреждениям, вторые более надежны и долговечны. Различается и стоимость приема катализаторов.Помимо всего перечисленного, для владельцев авто с дизельными двигателями, есть возможность сдать сажевые фильтры по весьма привлекательной цене.</p>
        <p>Наша организация поможет вам сдать автомобильный катализатор в городе {{ city.city_name }}. Мы уже давно работаем на рынке переработки вторсырья, у нас опытный персонал и хорошие отзывы клиентов о нашей деятельности. Честный прием, удобные способы оплаты, наличие мобильной лаборатории для выезда к клиенту в любое место — наши главные отличительные особенности. Ждем ваших звонков и заявок.</p>
    </div>
    <!-- PRICES BLOCK -->
    {% include 'core/amp/amp-priceblock.html' %}

    <!-- WORKING METHODS BLOCK -->
     {% include 'core/amp/amp-working-methods.html' %}

    <!-- MAIN FORM BLOCK -->
    {% include 'forms/amp-form.html' %}

</div>

{% endblock %}