{% extends 'core/amp/new-base-amp.html' %}
{% load static %}
{% block Meta %}
        <title>{{ auto.seotitle }}</title>
        <meta name="keywords" content="{{ auto.seokeywords }}"/>
        <meta name="description" content="{{ auto.seodescript }}"/>
{% endblock %}
{% block AMP-Cannonical-Link %}
    <link rel="canonical" href="https://www.vekokat.ru/catalog/importnye/{{ auto.slug }}" />
{% endblock %}
{% block AMP-Scripts %}
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
<script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
{% endblock %}
{% block AMP-Content %}
    <div class="content-container catalog-item">
    <div class="cat-item-title"><h1>{{ auto.auto_model }}</h1></div>
    <div class="cat-item-container">
        <div class="cat-item-info-wr">
            <div class="cat-item-image-wr" style="background: url({{ auto.image.url }}); background-size: cover;">
            </div>
            <div class="cat-item-info">
                <div class="cat-item-weight"><span class="cat-type-text-style">ВЕС:&nbsp;</span>{{ auto.weight }}гр</div>
                <div class="cat-item-price"><span class="cat-type-text-style">ЦЕНА ЗА КГ:&nbsp;</span>{{ auto.price_kg }}руб</div>
                <div class="cat-item-sum"><span class="cat-type-text-style">СУММА:&nbsp;</span>{{ auto.sum }}руб</div>
            </div>
        </div>
        <div class="cat-item-text">
            <p>Автомобильный катализатор является сегодня неотъемлемой частью любого автомобиля, в том числе и такой марки, как {{ auto.auto_model }}. От исправности этой части выхлопной истемы зависит не только экология окружающей среды, но и характеристики работы автомобиля, а так же комфорт водителя при передвижении.</p>
            <p>Автомобильный катализатор может быть выполнен из керамики или металла и представляет собой внутри соты покрытые металлом-катализатором. В качестве таких металлов выступают дорогостоящие платина, родий и палладий. Катализатор помогает преобразовать вредные выбросы двигателя автомобиля в безобидный газ или воду.
Однако, в течении эксплуатации на автомобиле {{ auto.auto_model }} любой катализатор приходит в негодность, может полностью забиться. Основными симптомами такой неисправности являются следующие:</p>
            <p>- автомобиль теряет тягу на оборотах</p>
            <p>- авто хуже заводится</p>
            <p>- обороты периодически пропадают</p>
            <p>- машина начинает потреблять много топлива</p>
<p>Все это свидетельствует о том, что старый катализатор на вашем авто {{ auto.auto_model }} следует заменить.
Однако не спешите его просто выбрасывать на свалку, ведь есть такие пункты приема катализаторов, которые предложат за него приличные деньги, тем более для такой марки автомобиля как {{ auto.auto_model }}. Не забывайте, что в состав катализатора входят ценные и дорогие металлы.
Наша организация обладает профессиональным оборудованием для переработки катализаторов и опытным персоналом. Мы можем точно определить состав отработанного катализатора и предложить для вас выгодную цену.</p>
        </div>
    </div>
            <!-- MAIN FORM BLOCK -->
        <div class="content-container cat-type-form-wr">
        {% include 'forms/amp-form.html' %}
        </div>
    </div>
{% endblock %}