{% load staticfiles %}
      <style>
          @media (max-width: 420px) {
              .working-methods-item-text {
                  font-size: 0.8em;
              }
          }
          @media (min-width: 1070px) {
              .working-methods-item {
                  width: 24%;
                  height: 375px;
              }
              .working-methods-item-text {
                  font-size: 1em;
              }
          }
          @media (min-width: 1280px) {
              .working-methods-item {
                  width: 24%;
                  height: 475px;
              }
              .working-methods-item-text {
                  font-size: 1em;
              }
          }
      </style>
      <!-- WORKING METHODS BLOCK -->

      <div class="working-methods-title catol-title" id="working-methods-block">
          <h2>ПОРЯДОК РАБОТ ПРИ ПРИЕМЕ КАТАЛИЗАТОРОВ</h2>
      </div>
      <div class="content-container">
         <div class="after-title-text">
             {% for text in met_text %}
             {{ text.text|safe }}
             {% endfor %}
         </div>
         <div class="working-methods-list-container">
             {% for method in methods %}
                    <div class="working-methods-item lazy-background" style="background: url({{ method.image.url }}); background-size: cover;">
                        <div class="working-methods-item-text-container" >
                            <div class="working-methods-item-number">{{ method.number }}</div>
                            <div class="working-methods-item-text">{{ method.text }}</div>
                         </div>
                     </div>
             {% endfor %}
         </div>
      </div>
