
/* MOBILE LABORATORY BLOCK */
.laboratory-item-title h3 {
    text-align: center;
}

/* WORKING METHODS BLOCK */
.working-methods-item {
    width: 65%;
    height: 475px;
}


@media (min-width: 576px) {

    /* WORKING METHODS BLOCK */
    .working-methods-item {
        width: 48%;
        height: 475px;
    }
    .working-methods-item-text {
        font-size: 1.2em;
    }
}

@media (min-width: 768px) {

    /* WORKING METHODS BLOCK */
    .working-methods-item {
        width: 24%;
        height: 375px;
    }
    .working-methods-item-text {
        font-size: 0.9em;
    }
    /* MAIN PAGE SLIDER */
    .main-page-slider {
        margin-top: 0px;
    }

}

@media (min-width: 992px) {

    /* WORKING METHODS BLOCK */
    .working-methods-item {
        width: 24%;
        height: 375px;
    }
    .working-methods-item-text {
        font-size: 1em;
    }
    /* MAIN PAGE SLIDER */
    .main-page-slider {
        margin-top: 0px;
    }
}

@media (min-width: 1070px) {

    /* WORKING METHODS BLOCK */
    .working-methods-item {
         width: 24%;
        height: 375px;
    }
    .working-methods-item-text {
        font-size: 1em;
    }
}

@media (min-width: 1280px) {

    /* WORKING METHODS BLOCK */
    .working-methods-item {
         width: 24%;
        height: 475px;
    }
    .working-methods-item-text {
        font-size: 1em;
    }
}