@media (min-width: 768px) {
    body {
        padding-top: 0;
    }
    label {
        font-size: 1em;
    }
    .you-tube-wr {
        width: 576px;
    }
    .after-title-text {
        font-size: 1.35em;
    }
    .after-title-text p {
        padding-bottom: 15px;
    }
    .content-container {
        width: 100%;
    }
    .catol-title h2 {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* MOBILE MENU */
    .mobile-menu-container {
       display: none;
    }
    .mobile-menu-content-wr {
        display: none;
    }

     /* MAIN PAGE SLIDER */
    .main-page-slider {
        margin-top: 0px;
    }

    /*  HEADER   */

    header {
        flex-direction: row;
    }
    .header-txt-ph-align-wr {
       flex-direction: row;

    }
    .header-text-container {
        flex: 2;
    }
    .header-logo-container {
        flex: 0.5;
    }
    .header-phone-icon {
        display: block;
    }

    /*MAIN MENU */

    .main-menu {
        display: flex;
    }
    .main-menu-item {
        font-size: 0.8em;
    }

    .main-menu-icons-container {
        display: none;
    }

    /* ADVANTAGES BLOCK */
    .advantages-list-container {
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;
    }
    .advantages-item {
        width: 23%;
    }
    .advantages-item-text {
        width: 100%;
    }

    /* WORKING METHODS BLOCK */
    .working-methods-item {
        width: 24%;
        height: 375px;
    }
    .working-methods-item-text {
        font-size: 0.9em;
    }
    .working-methods-item-text-container {
        flex-direction: column;
    }
    .working-methods-list-container {
        flex-wrap: nowrap;
        justify-content: space-between;

    }
    /* MOBILE LABORATORY BLOCK */
    .laboratory-sub-title-lv2 {
        width: 50%;
    }
    .laboratory-items-container {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }
    .laboratory-item-title {
        width: 80%;
        height: 60px;
    }

    .laboratory-item-text {
        width: 80%;
    }
    .laboratory-item {
        margin: 0;
        width: 33%;
    }

    /* REGIONS BLOCK */
    .regions-item {
        width: 30%;
    }

    .regions-text {
        width: 80%;
    }
    .regions-items-container {
        flex-wrap: nowrap;
        padding-right: 15px;
        padding-left: 15px;
        justify-content: space-between;
    }
    .regions-item-text {
        width: 100%;
    }


    /* PRICES BLOCK */
    .prices-item {
        width: 23%;
        font-size: 0.9rem;
    }
    .prices-item-title {
        margin-top: 10px;
    }
    .prices-item-midle {
        padding-left: 7px;
        padding-right: 7px;
    }
    .prices-items-container {
        flex-wrap: nowrap;
    }

    /* CATALOG BLOCK */
    .auto-catalog-item {
        width: 30%;
    }

    /* MAIN FORM BLOCK */
    .form-group {
        flex-direction: row;
    }
    .mainform-container {
        width: 90%;
    }
    .mainform-button {
        width: 50%;
    }

    /* CONTACTS BLOCK */
    .contacts-map-container {
        flex-direction: row;
    }
    .contacts-block-container {
        padding-bottom: 0;
        flex: 1;
        display: block;
    }
    .contacts-block-button-wr {
        padding-right: 30px;
        flex: 2;
        justify-content: flex-end;
    }
    /* FOOTER */

    .footer-phone-order-wr {
        width: 100%;
        margin: 0;
        flex-direction: row;
    }

    .footer-order-button {
        margin-right: 30px;
        width: 25%;
    }
    .footer-order-control {
        margin: 0;
        width: 25%;
    }
    /* CONTACTS PAGE */
    .contacts-content-container {
        flex-direction: row;
    }

        /* PARTNERS BLOCK */
    .partner-item-wr {
    flex-direction: column;
}
     .partner-full-wr {
    flex-direction: column;
}
    .partner-logo-wr img {
    width: initial;
    height: initial;
}

    /* CONTACTS PAGE */
    /* CONTACTS PAGE */
    /* CONTACTS PAGE */
    #contacts_name {
        width: 80%;
    }
    #contacts_contacts {
        width: 95%;
    }
    .cp-form-phone-wr {
        margin-top: 0;
    }
    /* CATALOG-TYPE-PAGE */
    .cat-type-items-container a{
        width: 29%;
    }
    .cat-type-items-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .cat-type-text-wr {
        font-size: 1.35em;
    }
    .cat-type-text-wr p{
        padding-bottom: 15px;
    }

    /* CATALOG-ITEM-PAGE */
    .cat-item-info-wr {
        flex-direction: row;
    }
    .cat-item-info {
        margin-top: 0;
        margin-left: 30px;
        font-size: 1.35em;
    }
    .cat-item-info p {
        padding-bottom: 16px;
    }
    .cat-item-image-wr {
        height: 250px;
        width: 40%;
    }
    .cat-item-info {
        width: 60%;
    }

    /* CATALOG-PRIEM-ITEM */
    .cat-type-gallery {
        flex-direction: row;
    }
    .cat-type-gal-item {
        margin-top: 30px;
        width: 30%;
        height: 250px;
    }
    .catalyzator-type-text {
        font-size: 1.35em;
    }
    .catalyzator-type-text p {
        padding-bottom: 15px;
    }

    /* CONDITIONS-PAGE */
    .conditions-text {
        font-size: 1.35em;
    }
    .conditions-text p {
        padding-bottom: 15px;
    }
    .conditions-gallery-wr {
        margin-top: 40px;
        margin-bottom: 100px;
    }
}